@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
  --heading-font: "Open Sans", sans-serif;
  --body-font: "Nunito", sans-serif;
  --primary-color: #8454F5;
  --secondary-color: #FFC556;
} 


body{
  font-family: var(--body-font);
}


a{
  text-decoration: none;
}

.btn-custom,
.btn-custom:hover{
 background-color: var(--primary-color);
  color: #fff;
}

/* banner */
.banner {
  h1{
    font-size: 60px;
  font-family: var(--heading-font);
  font-weight: 700px;
  }
  p{
    font-size: 18px;
    font-family: var(--body-font);
    font-weight: 400px;
    line-height: 36px;
    margin-top: 50px;
    padding-left: 20px;
    border-left: 5px solid var(--secondary-color);
  }
  form{
    background-color: hsla(258, 89%, 65%, 0.15);
    border-radius: 10px;
    max-width: 520px;
    margin-top: 50px;

    input{
height: 60px;
background-color: transparent;
padding: 0 20px;


    }
   button {
    width: 160px;
    margin-right: 10px;
    height: 45px;
    
   }
  }

}

/* services */
.services{
  padding: 120px 0;
  background-color: #FFFCF7;

  .section-heading{
 margin-bottom: 80px;

  h2{
    font-size: 60px;
  font-family: var(--heading-font);
  font-weight: 700px;
  padding: 0px;
  }

   p{
    font-size: 18px;
    font-family: var(--body-font);
    font-weight: 400px;
    line-height: 36px;
    padding-left: 20px;
    border-left: 5px solid var(--secondary-color);
  }
}




.service-item{
  padding: 25px;
  border-radius: 25px;
  background-color: #FFFFFF;
  border: 1px solid rgba(132, 84, 245, 0.40);

  .item-title {
    display: flex;
    align-items: center;

     i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    font-size: 34px;
    background-color: hsla(38, 99%, 68%, 0.15);
    color: #FEC35F;
  
     }
  h4{
    font-size: 28px;
    font-weight: 700px;
    line-height: 40px;
    padding-bottom: 0;
    padding-left: 15px;
  }


  
 
}
 p{
    font-size: 18px;
    line-height: 28px;
    margin-top: 16;
    margin-bottom: 28;
  }
  a{
    font-size: 20px;
    font-weight: 600px;
    color: #29313D;
  }
}
  }
